<!DOCTYPE html>
<html>
  <head>
    <title>Stock Details</title>
  </head>
  <body>
    <h1>Stock Details</h1>
    <p>Symbol: <%= stockDetails.symbol %></p>
    <p>Price: <%= stockDetails.price %> <%= stockDetails.currency %></p>
    <p>Day High: <%= stockDetails.dayHigh %> <%= stockDetails.currency %></p>
    <p>Day Low: <%= stockDetails.dayLow %> <%= stockDetails.currency %></p>
    <a href="/">Go back</a>
  </body>
</html>
