<!DOCTYPE html>
<html>
  <head>
    <title>Stock Details</title>
  </head>
  <body>
    <h1>Stock Details</h1>
    <p>Symbol: <%= stock.symbol %></p>
    <p>Price: <%= stock.price %> <%= stock.currency %></p>
    <p>Day High: <%= stock.dayHigh %> <%= stock.currency %></p>
    <p>Day Low: <%= stock.dayLow %> <%= stock.currency %></p>
    <a href="/">Go back</a>
  </body>
</html>
